.supertokens-plugin-profile-security-section {
  --border-color: var(--wa-color-neutral-30);
  --title-color: var(--wa-color-neutral-95);
  --title-font-size: round(calc(1.25rem * var(--wa-font-size-scale)), 1px);
  --spacing: 30px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.supertokens-plugin-profile-security-header {
  position: relative;
  margin-bottom: var(--spacing);
}

.supertokens-plugin-profile-security-header h3 {
  color: var(--title-color);
  font-size: var(--title-font-size);
  line-height: 1.4;
  margin-bottom: 8px;
}

.supertokens-plugin-profile-security-header p {
  margin: 0;
  font-size: var(--wa-font-size-s);
  line-height: 1.4;
}

.supertokens-plugin-profile-security-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  padding: 30px 0;
}
.supertokens-plugin-profile-security-group:first-child {
  border-top: 1px solid var(--border-color);
}
.supertokens-plugin-profile-security-group:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.supertokens-plugin-profile-security-group h4 {
  color: var(--title-color);
  font-size: var(--wa-font-size-l);
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 0;
}

.supertokens-plugin-profile-security-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.supertokens-plugin-profile-security-no-linked-accounts {
  margin-bottom: 13px;
  color: var(--wa-color-neutral-95);
}

/* Linked accounts */
.supertokens-plugin-profile-security-linked-accounts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.supertokens-plugin-profile-security-link-account-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.supertokens-plugin-profile-security-linked-account {
  display: flex;
  align-items: center;
  gap: 16px;
}

.supertokens-plugin-profile-security-linked-account-tag {
  font-size: 20px;
}

.supertokens-plugin-profile-security-linked-account-name {
  display: flex;
  align-items: center;
  gap: 2px;
}
.supertokens-plugin-profile-security-linked-account-name,
.supertokens-plugin-profile-security-linked-account-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.supertokens-plugin-profile-security-linked-account-unlink-button {
  margin-left: auto;
}

/* Link accounts */
.supertokens-plugin-profile-security-link-account-button::part(label) {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.supertokens-plugin-profile-security-link-account-button-logo {
  line-height: 0;
}

.supertokens-plugin-profile-security-passkey-date {
  margin-left: auto;
}

.supertokens-plugin-profile-security-passkey-email-select {
  flex: 1;
}

.supertokens-plugin-profile-security-passkey-email-select-label {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  word-break: keep-all;
}

/* MFA */
.supertokens-plugin-profile-security-second-factor {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.supertokens-plugin-profile-security-second-factor-method {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}
.supertokens-plugin-profile-security-second-factor-method:first-child {
  padding-top: 0;
}
.supertokens-plugin-profile-security-second-factor-method:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.supertokens-plugin-profile-security-second-factor-method-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supertokens-plugin-profile-security-second-factor-method-header-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.supertokens-plugin-profile-security-second-factor-method-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--title-color);
}

.supertokens-plugin-profile-security-second-factor-method-description {
  font-size: 14px;
  line-height: 1.4;
}

.supertokens-plugin-profile-security-second-factor-method-header-actions {
  margin-left: auto;
}

.supertokens-plugin-profile-security-second-factor-manage {
  margin-top: 14px;
}

/* TOTP */
.supertokens-plugin-profile-security-totp-name-label {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  word-break: keep-all;
}
.supertokens-plugin-profile-security-totp-name {
  flex: 1;
}

.supertokens-plugin-profile-security-totp-verify-description {
  flex: 1 1 100%;
  order: -1;
  margin-bottom: 10px;
}

.supertokens-plugin-profile-security-totp-verify-qr {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.supertokens-plugin-profile-security-totp-verify-qr svg {
  width: 165px;
  height: auto;
}

.supertokens-plugin-profile-security-totp-verify-code {
  flex: 1;
}

.supertokens-plugin-profile-security-method-action {
  margin-left: auto;
}
