.createTenantInputContainer {
  border-radius: 12px;
  box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.133) inset;
  border: 1px solid #dddde3;
  background-color: #f2f2f0;

  .createTenantInputCardText {
    padding: 12px;
    color: #60646c;
    font-weight: var(--wa-font-weight-normal);
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .createTenantInputWrapper {
    display: flex;
    align-items: center;
    color: #60646c;
    padding: 12px;
    background-color: #f9f9f8;
    border-top: 1px solid #dddde3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .createTenantInput {
      width: 100%;
    }
  }
}

.createTenantHeader {
  font-weight: var(--wa-font-weight-extrabold);
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.12px;
  color: #1c2024;
}

.createTenantFooter {
  display: flex;
  justify-content: end;
  align-items: center;
}

.createTenantInputContainer::part(header) {
  padding: 0 !important;
}

.createTenantInputContainer::part(body) {
  padding: 0 !important;
}

.awaitingApprovalMessageContainer {
  .header {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.12px;
    color: var(--neutral-color-neutral-12);
    margin: 0 0 16px 0;
  }

  .messageContainer {
    box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.133) inset;
    border: 1px solid var(--neutral-color-neutral-6);
    background-color: #f9f9f8;
    border-radius: 12px;
    padding: 14px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

    b {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--neutral-color-neutral-11);
    }
  }
}
