:root {
  --variables-backgrounds-white-to-dark: var(--default-colors-white);
  --variables-backgrounds-white-to-dark-2: rgba(255, 255, 255, 0.9);
  --variables-effects-translucent: rgba(255, 255, 255, 0.8);
  --variables-backgrounds-dark-to-white: var(--neutral-color-neutral-12);
  --variables-effects-solid: var(--default-colors-white);
  --variables-backgrounds-backdrop: var(--neutral-color-neutral-alpha-8);

  --colors-tomato-1: rgba(255, 252, 252, 1);
  --colors-tomato-2: rgba(255, 248, 247, 1);
  --colors-tomato-3: rgba(254, 235, 231, 1);
  --colors-tomato-4: rgba(255, 220, 211, 1);
  --colors-tomato-5: rgba(255, 205, 194, 1);
  --colors-tomato-6: rgba(253, 189, 175, 1);
  --colors-tomato-7: rgba(245, 168, 152, 1);
  --colors-tomato-8: rgba(236, 142, 123, 1);
  --colors-tomato-9: rgba(229, 77, 46, 1);
  --colors-tomato-10: rgba(221, 68, 37, 1);
  --colors-tomato-11: rgba(209, 52, 21, 1);
  --colors-tomato-12: rgba(92, 39, 31, 1);
  --colors-tomato-alpha-1: rgba(255, 0, 0, 0.01);
  --colors-tomato-alpha-2: rgba(255, 32, 0, 0.03);
  --colors-tomato-alpha-3: rgba(245, 43, 0, 0.09);
  --colors-tomato-alpha-4: rgba(255, 53, 0, 0.17);
  --colors-tomato-alpha-5: rgba(255, 46, 0, 0.24);
  --colors-tomato-alpha-6: rgba(249, 45, 0, 0.31);
  --colors-tomato-alpha-7: rgba(231, 40, 0, 0.4);
  --colors-tomato-alpha-8: rgba(219, 37, 0, 0.52);
  --colors-tomato-alpha-9: rgba(223, 38, 0, 0.82);
  --colors-tomato-alpha-10: rgba(215, 36, 0, 0.85);
  --colors-tomato-alpha-11: rgba(205, 34, 0, 0.92);
  --colors-tomato-alpha-12: rgba(70, 9, 0, 0.88);
  --colors-red-1: rgba(255, 252, 252, 1);
  --colors-red-2: rgba(255, 247, 247, 1);
  --colors-red-3: rgba(255, 239, 239, 1);
  --colors-red-4: rgba(255, 229, 229, 1);
  --colors-red-5: rgba(253, 216, 216, 1);
  --colors-red-6: rgba(249, 198, 198, 1);
  --colors-red-7: rgba(243, 174, 175, 1);
  --colors-red-8: rgba(235, 144, 145, 1);
  --colors-red-9: rgba(229, 72, 77, 1);
  --colors-red-10: rgba(217, 61, 66, 1);
  --colors-red-11: rgba(198, 42, 47, 1);
  --colors-red-12: rgba(100, 23, 35, 1);
  --colors-red-alpha-1: rgba(255, 5, 5, 0.01);
  --colors-red-alpha-2: rgba(255, 5, 5, 0.03);
  --colors-red-alpha-3: rgba(255, 1, 1, 0.06);
  --colors-red-alpha-4: rgba(255, 0, 0, 0.1);
  --colors-red-alpha-5: rgba(242, 0, 0, 0.15);
  --colors-red-alpha-6: rgba(228, 1, 1, 0.22);
  --colors-red-alpha-7: rgba(217, 0, 3, 0.32);
  --colors-red-alpha-8: rgba(209, 0, 3, 0.44);
  --colors-red-alpha-9: rgba(219, 0, 7, 0.72);
  --colors-red-alpha-10: rgba(205, 0, 8, 0.76);
  --colors-red-alpha-11: rgba(187, 0, 7, 0.84);
  --colors-red-alpha-12: rgba(85, 0, 13, 0.91);
  --colors-ruby-1: rgba(255, 252, 253, 1);
  --colors-ruby-2: rgba(255, 247, 249, 1);
  --colors-ruby-3: rgba(254, 239, 243, 1);
  --colors-ruby-4: rgba(253, 229, 234, 1);
  --colors-ruby-5: rgba(250, 216, 224, 1);
  --colors-ruby-6: rgba(245, 199, 209, 1);
  --colors-ruby-7: rgba(238, 175, 188, 1);
  --colors-ruby-8: rgba(229, 146, 162, 1);
  --colors-ruby-9: rgba(229, 70, 102, 1);
  --colors-ruby-10: rgba(218, 58, 92, 1);
  --colors-ruby-11: rgba(202, 36, 77, 1);
  --colors-ruby-12: rgba(100, 23, 43, 1);
  --colors-ruby-alpha-1: rgba(255, 5, 88, 0.01);
  --colors-ruby-alpha-2: rgba(255, 5, 68, 0.03);
  --colors-ruby-alpha-3: rgba(240, 0, 64, 0.06);
  --colors-ruby-alpha-4: rgba(236, 0, 47, 0.1);
  --colors-ruby-alpha-5: rgba(222, 0, 52, 0.15);
  --colors-ruby-alpha-6: rgba(210, 1, 46, 0.22);
  --colors-ruby-alpha-7: rgba(201, 0, 40, 0.31);
  --colors-ruby-alpha-8: rgba(194, 0, 39, 0.43);
  --colors-ruby-alpha-9: rgba(219, 0, 44, 0.73);
  --colors-ruby-alpha-10: rgba(207, 0, 45, 0.77);
  --colors-ruby-alpha-11: rgba(193, 0, 48, 0.86);
  --colors-ruby-alpha-12: rgba(85, 0, 23, 0.91);
  --colors-crimson-1: rgba(255, 252, 253, 1);
  --colors-crimson-2: rgba(255, 247, 251, 1);
  --colors-crimson-3: rgba(254, 239, 246, 1);
  --colors-crimson-4: rgba(252, 229, 240, 1);
  --colors-crimson-5: rgba(249, 216, 231, 1);
  --colors-crimson-6: rgba(244, 198, 219, 1);
  --colors-crimson-7: rgba(237, 173, 200, 1);
  --colors-crimson-8: rgba(229, 143, 177, 1);
  --colors-crimson-9: rgba(233, 61, 130, 1);
  --colors-crimson-10: rgba(220, 49, 117, 1);
  --colors-crimson-11: rgba(203, 29, 99, 1);
  --colors-crimson-12: rgba(98, 22, 57, 1);
  --colors-crimson-alpha-1: rgba(255, 5, 88, 0.01);
  --colors-crimson-alpha-2: rgba(255, 5, 130, 0.03);
  --colors-crimson-alpha-3: rgba(255, 5, 122, 0.03);
  --colors-crimson-alpha-4: rgba(226, 0, 108, 0.1);
  --colors-crimson-alpha-5: rgba(216, 0, 98, 0.15);
  --colors-crimson-alpha-6: rgba(206, 1, 94, 0.22);
  --colors-crimson-alpha-7: rgba(199, 0, 84, 0.32);
  --colors-crimson-alpha-8: rgba(196, 0, 78, 0.44);
  --colors-crimson-alpha-9: rgba(226, 0, 91, 0.76);
  --colors-crimson-alpha-10: rgba(212, 0, 85, 0.81);
  --colors-crimson-alpha-11: rgba(196, 0, 78, 0.89);
  --colors-crimson-alpha-12: rgba(83, 0, 39, 0.91);
  --colors-pink-1: rgba(255, 252, 254, 1);
  --colors-pink-2: rgba(255, 247, 252, 1);
  --colors-pink-3: rgba(254, 238, 248, 1);
  --colors-pink-4: rgba(252, 229, 243, 1);
  --colors-pink-5: rgba(249, 216, 236, 1);
  --colors-pink-6: rgba(243, 198, 226, 1);
  --colors-pink-7: rgba(236, 173, 212, 1);
  --colors-pink-8: rgba(227, 142, 195, 1);
  --colors-pink-9: rgba(214, 64, 159, 1);
  --colors-pink-10: rgba(205, 48, 147, 1);
  --colors-pink-11: rgba(196, 28, 135, 1);
  --colors-pink-12: rgba(101, 18, 73, 1);
  --colors-pink-alpha-1: rgba(255, 5, 172, 0.01);
  --colors-pink-alpha-2: rgba(255, 5, 161, 0.03);
  --colors-pink-alpha-3: rgba(240, 1, 150, 0.07);
  --colors-pink-alpha-4: rgba(226, 0, 137, 0.1);
  --colors-pink-alpha-5: rgba(216, 0, 131, 0.15);
  --colors-pink-alpha-6: rgba(201, 1, 126, 0.22);
  --colors-pink-alpha-7: rgba(196, 0, 121, 0.32);
  --colors-pink-alpha-8: rgba(192, 0, 120, 0.44);
  --colors-pink-alpha-9: rgba(200, 0, 127, 0.75);
  --colors-pink-alpha-10: rgba(193, 0, 122, 0.81);
  --colors-pink-alpha-11: rgba(189, 0, 120, 0.89);
  --colors-pink-alpha-12: rgba(90, 0, 60, 0.93);
  --colors-plum-1: rgba(254, 252, 255, 1);
  --colors-plum-2: rgba(255, 248, 255, 1);
  --colors-plum-3: rgba(252, 239, 252, 1);
  --colors-plum-4: rgba(249, 229, 249, 1);
  --colors-plum-5: rgba(243, 217, 244, 1);
  --colors-plum-6: rgba(235, 200, 237, 1);
  --colors-plum-7: rgba(223, 175, 227, 1);
  --colors-plum-8: rgba(207, 145, 216, 1);
  --colors-plum-9: rgba(171, 74, 186, 1);
  --colors-plum-10: rgba(164, 60, 180, 1);
  --colors-plum-11: rgba(156, 43, 173, 1);
  --colors-plum-12: rgba(83, 25, 93, 1);
  --colors-plum-alpha-1: rgba(172, 5, 255, 0.01);
  --colors-plum-alpha-2: rgba(255, 5, 255, 0.03);
  --colors-plum-alpha-3: rgba(208, 1, 208, 0.06);
  --colors-plum-alpha-4: rgba(196, 0, 196, 0.1);
  --colors-plum-alpha-5: rgba(175, 2, 181, 0.15);
  --colors-plum-alpha-6: rgba(162, 0, 172, 0.22);
  --colors-plum-alpha-7: rgba(153, 0, 166, 0.31);
  --colors-plum-alpha-8: rgba(144, 0, 165, 0.43);
  --colors-plum-alpha-9: rgba(137, 0, 158, 0.71);
  --colors-plum-alpha-10: rgba(136, 0, 157, 0.76);
  --colors-plum-alpha-11: rgba(136, 0, 156, 0.83);
  --colors-plum-alpha-12: rgba(64, 0, 75, 0.9);
  --colors-purple-1: rgba(254, 252, 254, 1);
  --colors-purple-2: rgba(253, 250, 255, 1);
  --colors-purple-3: rgba(249, 241, 254, 1);
  --colors-purple-4: rgba(243, 231, 252, 1);
  --colors-purple-5: rgba(237, 219, 249, 1);
  --colors-purple-6: rgba(227, 204, 244, 1);
  --colors-purple-7: rgba(211, 180, 237, 1);
  --colors-purple-8: rgba(190, 147, 228, 1);
  --colors-purple-9: rgba(142, 78, 198, 1);
  --colors-purple-10: rgba(132, 69, 188, 1);
  --colors-purple-11: rgba(121, 58, 175, 1);
  --colors-purple-12: rgba(64, 32, 96, 1);
  --colors-purple-alpha-1: rgba(171, 5, 171, 0.01);
  --colors-purple-alpha-2: rgba(155, 5, 255, 0.02);
  --colors-purple-alpha-3: rgba(146, 0, 237, 0.05);
  --colors-purple-alpha-4: rgba(129, 2, 224, 0.09);
  --colors-purple-alpha-5: rgba(128, 1, 213, 0.14);
  --colors-purple-alpha-6: rgba(115, 0, 200, 0.2);
  --colors-purple-alpha-7: rgba(106, 1, 194, 0.29);
  --colors-purple-alpha-8: rgba(102, 0, 191, 0.42);
  --colors-purple-alpha-9: rgba(92, 0, 173, 0.69);
  --colors-purple-alpha-10: rgba(86, 0, 163, 0.73);
  --colors-purple-alpha-11: rgba(82, 0, 151, 0.77);
  --colors-purple-alpha-12: rgba(37, 0, 73, 0.88);
  --colors-violet-1: rgba(253, 252, 254, 1);
  --colors-violet-2: rgba(251, 250, 255, 1);
  --colors-violet-3: rgba(245, 242, 255, 1);
  --colors-violet-4: rgba(237, 233, 254, 1);
  --colors-violet-5: rgba(228, 222, 252, 1);
  --colors-violet-6: rgba(215, 207, 249, 1);
  --colors-violet-7: rgba(196, 184, 243, 1);
  --colors-violet-8: rgba(170, 153, 236, 1);
  --colors-violet-9: rgba(110, 86, 207, 1);
  --colors-violet-10: rgba(100, 79, 193, 1);
  --colors-violet-11: rgba(87, 70, 175, 1);
  --colors-violet-12: rgba(47, 38, 95, 1);
  --colors-violet-alpha-1: rgba(88, 5, 171, 0.01);
  --colors-violet-alpha-2: rgba(55, 5, 255, 0.02);
  --colors-violet-alpha-3: rgba(59, 0, 255, 0.05);
  --colors-violet-alpha-4: rgba(46, 2, 244, 0.09);
  --colors-violet-alpha-5: rgba(47, 1, 232, 0.13);
  --colors-violet-alpha-6: rgba(43, 1, 223, 0.19);
  --colors-violet-alpha-7: rgba(44, 1, 212, 0.28);
  --colors-violet-alpha-8: rgba(43, 0, 208, 0.4);
  --colors-violet-alpha-9: rgba(36, 0, 182, 0.66);
  --colors-violet-alpha-10: rgba(31, 0, 165, 0.69);
  --colors-violet-alpha-11: rgba(24, 0, 145, 0.73);
  --colors-violet-alpha-12: rgba(10, 0, 67, 0.85);
  --colors-iris-1: rgba(253, 253, 255, 1);
  --colors-iris-2: rgba(250, 250, 255, 1);
  --colors-iris-3: rgba(243, 243, 255, 1);
  --colors-iris-4: rgba(235, 235, 254, 1);
  --colors-iris-5: rgba(224, 224, 253, 1);
  --colors-iris-6: rgba(208, 208, 250, 1);
  --colors-iris-7: rgba(186, 187, 245, 1);
  --colors-iris-8: rgba(155, 158, 240, 1);
  --colors-iris-9: rgba(91, 91, 214, 1);
  --colors-iris-10: rgba(83, 83, 206, 1);
  --colors-iris-11: rgba(71, 71, 194, 1);
  --colors-iris-12: rgba(39, 41, 98, 1);
  --colors-iris-alpha-1: rgba(5, 5, 255, 0.01);
  --colors-iris-alpha-2: rgba(5, 5, 255, 0.02);
  --colors-iris-alpha-3: rgba(5, 5, 255, 0.05);
  --colors-iris-alpha-4: rgba(2, 2, 242, 0.08);
  --colors-iris-alpha-5: rgba(1, 1, 239, 0.12);
  --colors-iris-alpha-6: rgba(1, 1, 228, 0.19);
  --colors-iris-alpha-7: rgba(0, 4, 217, 0.27);
  --colors-iris-alpha-8: rgba(0, 8, 217, 0.39);
  --colors-iris-alpha-9: rgba(0, 0, 192, 0.64);
  --colors-iris-alpha-10: rgba(0, 0, 182, 0.68);
  --colors-iris-alpha-11: rgba(0, 0, 171, 0.72);
  --colors-iris-alpha-12: rgba(0, 3, 70, 0.85);
  --colors-indigo-1: rgba(253, 253, 254, 1);
  --colors-indigo-2: rgba(248, 250, 255, 1);
  --colors-indigo-3: rgba(240, 244, 255, 1);
  --colors-indigo-4: rgba(230, 237, 254, 1);
  --colors-indigo-5: rgba(217, 226, 252, 1);
  --colors-indigo-6: rgba(198, 212, 249, 1);
  --colors-indigo-7: rgba(174, 192, 245, 1);
  --colors-indigo-8: rgba(141, 164, 239, 1);
  --colors-indigo-9: rgba(62, 99, 221, 1);
  --colors-indigo-10: rgba(58, 92, 204, 1);
  --colors-indigo-11: rgba(52, 81, 178, 1);
  --colors-indigo-12: rgba(16, 29, 70, 1);
  --colors-indigo-alpha-1: rgba(5, 5, 130, 0.01);
  --colors-indigo-alpha-2: rgba(5, 77, 255, 0.03);
  --colors-indigo-alpha-3: rgba(1, 68, 255, 0.06);
  --colors-indigo-alpha-4: rgba(2, 73, 245, 0.1);
  --colors-indigo-alpha-5: rgba(2, 62, 235, 0.15);
  --colors-indigo-alpha-6: rgba(1, 63, 228, 0.22);
  --colors-indigo-alpha-7: rgba(0, 57, 224, 0.32);
  --colors-indigo-alpha-8: rgba(1, 52, 219, 0.45);
  --colors-indigo-alpha-9: rgba(0, 49, 210, 0.76);
  --colors-indigo-alpha-10: rgba(0, 44, 189, 0.77);
  --colors-indigo-alpha-11: rgba(0, 37, 158, 0.8);
  --colors-indigo-alpha-12: rgba(0, 17, 70, 0.88);
  --colors-blue-1: rgba(251, 253, 255, 1);
  --colors-blue-2: rgba(245, 250, 255, 1);
  --colors-blue-3: rgba(237, 246, 255, 1);
  --colors-blue-4: rgba(225, 240, 255, 1);
  --colors-blue-5: rgba(206, 231, 254, 1);
  --colors-blue-6: rgba(183, 217, 248, 1);
  --colors-blue-7: rgba(150, 199, 242, 1);
  --colors-blue-8: rgba(94, 176, 239, 1);
  --colors-blue-9: rgba(0, 145, 255, 1);
  --colors-blue-10: rgba(8, 128, 234, 1);
  --colors-blue-11: rgba(11, 104, 203, 1);
  --colors-blue-12: rgba(17, 50, 100, 1);
  --colors-blue-alpha-1: rgba(5, 130, 255, 0.02);
  --colors-blue-alpha-2: rgba(5, 130, 255, 0.04);
  --colors-blue-alpha-3: rgba(2, 128, 255, 0.07);
  --colors-blue-alpha-4: rgba(1, 125, 250, 0.19);
  --colors-blue-alpha-5: rgba(1, 131, 250, 0.19);
  --colors-blue-alpha-6: rgba(1, 121, 230, 0.28);
  --colors-blue-alpha-7: rgba(0, 119, 223, 0.41);
  --colors-blue-alpha-8: rgba(0, 130, 230, 0.63);
  --colors-blue-alpha-9: rgba(0, 145, 255, 1);
  --colors-blue-alpha-10: rgba(0, 125, 234, 0.97);
  --colors-blue-alpha-11: rgba(0, 97, 201, 0.96);
  --colors-blue-alpha-12: rgba(0, 36, 89, 0.93);
  --colors-cyan-1: rgba(250, 253, 254, 1);
  --colors-cyan-2: rgba(242, 252, 253, 1);
  --colors-cyan-3: rgba(231, 249, 251, 1);
  --colors-cyan-4: rgba(216, 243, 246, 1);
  --colors-cyan-5: rgba(196, 234, 239, 1);
  --colors-cyan-6: rgba(170, 222, 230, 1);
  --colors-cyan-7: rgba(132, 205, 218, 1);
  --colors-cyan-8: rgba(61, 185, 207, 1);
  --colors-cyan-9: rgba(5, 162, 194, 1);
  --colors-cyan-10: rgba(8, 148, 179, 1);
  --colors-cyan-11: rgba(12, 119, 146, 1);
  --colors-cyan-12: rgba(13, 60, 72, 1);
  --colors-cyan-alpha-1: rgba(5, 155, 205, 0.02);
  --colors-cyan-alpha-2: rgba(0, 196, 216, 0.05);
  --colors-cyan-alpha-3: rgba(2, 192, 213, 0.09);
  --colors-cyan-alpha-4: rgba(0, 177, 196, 0.15);
  --colors-cyan-alpha-5: rgba(1, 164, 186, 0.23);
  --colors-cyan-alpha-6: rgba(1, 156, 180, 0.33);
  --colors-cyan-alpha-7: rgba(0, 151, 178, 0.48);
  --colors-cyan-alpha-8: rgba(0, 163, 192, 0.76);
  --colors-cyan-alpha-9: rgba(0, 160, 193, 0.98);
  --colors-cyan-alpha-10: rgba(0, 144, 176, 0.97);
  --colors-cyan-alpha-11: rgba(0, 112, 141, 0.95);
  --colors-cyan-alpha-12: rgba(0, 50, 62, 0.95);
  --colors-teal-1: rgba(250, 254, 253, 1);
  --colors-teal-2: rgba(241, 252, 250, 1);
  --colors-teal-3: rgba(231, 249, 245, 1);
  --colors-teal-4: rgba(217, 243, 238, 1);
  --colors-teal-5: rgba(199, 235, 229, 1);
  --colors-teal-6: rgba(175, 223, 215, 1);
  --colors-teal-7: rgba(141, 206, 195, 1);
  --colors-teal-8: rgba(83, 185, 171, 1);
  --colors-teal-9: rgba(18, 165, 148, 1);
  --colors-teal-10: rgba(14, 152, 136, 1);
  --colors-teal-11: rgba(6, 122, 111, 1);
  --colors-teal-12: rgba(13, 61, 56, 1);
  --colors-teal-alpha-1: rgba(5, 205, 155, 0.02);
  --colors-teal-alpha-2: rgba(1, 200, 164, 0.05);
  --colors-teal-alpha-3: rgba(2, 192, 150, 0.09);
  --colors-teal-alpha-4: rgba(2, 175, 141, 0.15);
  --colors-teal-alpha-5: rgba(0, 164, 137, 0.22);
  --colors-teal-alpha-6: rgba(0, 153, 128, 0.31);
  --colors-teal-alpha-7: rgba(1, 146, 121, 0.45);
  --colors-teal-alpha-8: rgba(0, 151, 131, 0.68);
  --colors-teal-alpha-9: rgba(0, 158, 140, 0.93);
  --colors-teal-alpha-10: rgba(0, 146, 129, 0.95);
  --colors-teal-alpha-11: rgba(0, 119, 107, 0.98);
  --colors-teal-alpha-12: rgba(0, 51, 46, 0.95);
  --colors-jade-1: rgba(251, 254, 253, 1);
  --colors-jade-2: rgba(239, 253, 246, 1);
  --colors-jade-3: rgba(228, 250, 239, 1);
  --colors-jade-4: rgba(215, 244, 230, 1);
  --colors-jade-5: rgba(198, 236, 219, 1);
  --colors-jade-6: rgba(176, 224, 204, 1);
  --colors-jade-7: rgba(143, 207, 185, 1);
  --colors-jade-8: rgba(86, 186, 159, 1);
  --colors-jade-9: rgba(41, 163, 131, 1);
  --colors-jade-10: rgba(37, 150, 120, 1);
  --colors-jade-11: rgba(26, 122, 94, 1);
  --colors-jade-12: rgba(29, 59, 49, 1);
  --colors-jade-alpha-1: rgba(5, 192, 130, 0.02);
  --colors-jade-alpha-2: rgba(1, 223, 112, 0.06);
  --colors-jade-alpha-3: rgba(0, 208, 104, 0.11);
  --colors-jade-alpha-4: rgba(0, 185, 96, 0.16);
  --colors-jade-alpha-5: rgba(1, 174, 96, 0.22);
  --colors-jade-alpha-6: rgba(0, 155, 90, 0.31);
  --colors-jade-alpha-7: rgba(0, 146, 95, 0.44);
  --colors-jade-alpha-8: rgba(0, 151, 111, 0.66);
  --colors-jade-alpha-9: rgba(0, 146, 107, 0.84);
  --colors-jade-alpha-10: rgba(0, 132, 97, 0.86);
  --colors-jade-alpha-11: rgba(0, 107, 77, 0.9);
  --colors-jade-alpha-12: rgba(0, 34, 23, 0.89);
  --colors-green-1: rgba(251, 254, 252, 1);
  --colors-green-2: rgba(242, 252, 245, 1);
  --colors-green-3: rgba(233, 249, 238, 1);
  --colors-green-4: rgba(221, 243, 228, 1);
  --colors-green-5: rgba(204, 235, 215, 1);
  --colors-green-6: rgba(180, 223, 196, 1);
  --colors-green-7: rgba(146, 206, 172, 1);
  --colors-green-8: rgba(91, 185, 140, 1);
  --colors-green-9: rgba(48, 164, 108, 1);
  --colors-green-10: rgba(41, 151, 100, 1);
  --colors-green-11: rgba(24, 121, 78, 1);
  --colors-green-12: rgba(25, 59, 45, 1);
  --colors-green-alpha-1: rgba(5, 192, 67, 0.02);
  --colors-green-alpha-2: rgba(2, 186, 60, 0.09);
  --colors-green-alpha-3: rgba(2, 186, 60, 0.09);
  --colors-green-alpha-4: rgba(1, 166, 54, 0.13);
  --colors-green-alpha-5: rgba(0, 155, 55, 0.2);
  --colors-green-alpha-6: rgba(1, 147, 55, 0.29);
  --colors-green-alpha-7: rgba(0, 140, 61, 0.43);
  --colors-green-alpha-8: rgba(0, 147, 77, 0.64);
  --colors-green-alpha-9: rgba(0, 143, 74, 0.81);
  --colors-green-alpha-10: rgba(0, 131, 71, 0.84);
  --colors-green-alpha-11: rgba(0, 107, 59, 0.91);
  --colors-green-alpha-12: rgba(0, 38, 22, 0.9);
  --colors-grass-1: rgba(251, 254, 251, 1);
  --colors-grass-2: rgba(243, 252, 243, 1);
  --colors-grass-3: rgba(235, 249, 235, 1);
  --colors-grass-4: rgba(223, 243, 223, 1);
  --colors-grass-5: rgba(206, 235, 207, 1);
  --colors-grass-6: rgba(183, 223, 186, 1);
  --colors-grass-7: rgba(151, 207, 156, 1);
  --colors-grass-8: rgba(101, 186, 117, 1);
  --colors-grass-9: rgba(70, 167, 88, 1);
  --colors-grass-10: rgba(61, 154, 80, 1);
  --colors-grass-11: rgba(41, 124, 59, 1);
  --colors-grass-12: rgba(32, 60, 37, 1);
  --colors-grass-alpha-1: rgba(5, 192, 5, 0.02);
  --colors-grass-alpha-2: rgba(5, 192, 5, 0.05);
  --colors-grass-alpha-3: rgba(2, 179, 2, 0.08);
  --colors-grass-alpha-4: rgba(1, 160, 1, 0.13);
  --colors-grass-alpha-5: rgba(1, 151, 6, 0.19);
  --colors-grass-alpha-6: rgba(1, 142, 11, 0.28);
  --colors-grass-alpha-7: rgba(0, 138, 12, 0.41);
  --colors-grass-alpha-8: rgba(0, 141, 26, 0.6);
  --colors-grass-alpha-9: rgba(0, 134, 25, 0.73);
  --colors-grass-alpha-10: rgba(0, 122, 25, 0.76);
  --colors-grass-alpha-11: rgba(0, 99, 22, 0.84);
  --colors-grass-alpha-12: rgba(0, 32, 6, 0.88);
  --colors-orange-1: rgba(254, 252, 251, 1);
  --colors-orange-2: rgba(255, 248, 244, 1);
  --colors-orange-3: rgba(255, 237, 213, 1);
  --colors-orange-4: rgba(255, 224, 187, 1);
  --colors-orange-5: rgba(255, 211, 164, 1);
  --colors-orange-6: rgba(255, 194, 145, 1);
  --colors-orange-7: rgba(255, 170, 125, 1);
  --colors-orange-8: rgba(237, 138, 92, 1);
  --colors-orange-9: rgba(247, 104, 8, 1);
  --colors-orange-10: rgba(237, 95, 0, 1);
  --colors-orange-11: rgba(153, 84, 58, 1);
  --colors-orange-12: rgba(88, 45, 29, 1);
  --colors-orange-alpha-1: rgba(192, 67, 5, 0.02);
  --colors-orange-alpha-2: rgba(255, 97, 5, 0.04);
  --colors-orange-alpha-3: rgba(255, 145, 1, 0.17);
  --colors-orange-alpha-4: rgba(255, 140, 1, 0.27);
  --colors-orange-alpha-5: rgba(255, 132, 0, 0.36);
  --colors-orange-alpha-6: rgba(255, 115, 1, 0.43);
  --colors-orange-alpha-7: rgba(255, 90, 1, 0.51);
  --colors-orange-alpha-8: rgba(227, 72, 0, 0.64);
  --colors-orange-alpha-9: rgba(247, 99, 0, 0.97);
  --colors-orange-alpha-10: rgba(237, 95, 0, 1);
  --colors-orange-alpha-11: rgba(123, 33, 0, 0.77);
  --colors-orange-alpha-12: rgba(67, 18, 0, 0.89);
  --colors-brown-1: rgba(254, 253, 252, 1);
  --colors-brown-2: rgba(252, 249, 246, 1);
  --colors-brown-3: rgba(248, 241, 234, 1);
  --colors-brown-4: rgba(244, 233, 221, 1);
  --colors-brown-5: rgba(239, 221, 204, 1);
  --colors-brown-6: rgba(232, 205, 181, 1);
  --colors-brown-7: rgba(221, 184, 150, 1);
  --colors-brown-8: rgba(208, 158, 114, 1);
  --colors-brown-9: rgba(173, 127, 88, 1);
  --colors-brown-10: rgba(158, 115, 82, 1);
  --colors-brown-11: rgba(129, 94, 70, 1);
  --colors-brown-12: rgba(62, 51, 46, 1);
  --colors-brown-alpha-1: rgba(171, 88, 5, 0.01);
  --colors-brown-alpha-2: rgba(171, 88, 5, 0.04);
  --colors-brown-alpha-3: rgba(171, 86, 2, 0.08);
  --colors-brown-alpha-4: rgba(173, 91, 1, 0.13);
  --colors-brown-alpha-5: rgba(175, 85, 0, 0.2);
  --colors-brown-alpha-6: rgba(176, 83, 1, 0.29);
  --colors-brown-alpha-7: rgba(172, 83, 0, 0.41);
  --colors-brown-alpha-8: rgba(170, 79, 0, 0.55);
  --colors-brown-alpha-9: rgba(130, 60, 0, 0.65);
  --colors-brown-alpha-10: rgba(112, 49, 0, 0.68);
  --colors-brown-alpha-11: rgba(81, 33, 0, 0.73);
  --colors-brown-alpha-12: rgba(20, 6, 0, 0.82);
  --colors-bronze-1: rgba(253, 252, 252, 1);
  --colors-bronze-2: rgba(253, 248, 246, 1);
  --colors-bronze-3: rgba(248, 241, 238, 1);
  --colors-bronze-4: rgba(242, 232, 228, 1);
  --colors-bronze-5: rgba(234, 221, 215, 1);
  --colors-bronze-6: rgba(224, 206, 199, 1);
  --colors-bronze-7: rgba(209, 185, 176, 1);
  --colors-bronze-8: rgba(191, 160, 148, 1);
  --colors-bronze-9: rgba(161, 128, 114, 1);
  --colors-bronze-10: rgba(148, 116, 103, 1);
  --colors-bronze-11: rgba(125, 94, 84, 1);
  --colors-bronze-12: rgba(67, 48, 43, 1);
  --colors-bronze-alpha-1: rgba(88, 5, 5, 0.01);
  --colors-bronze-alpha-2: rgba(199, 61, 5, 0.04);
  --colors-bronze-alpha-3: rgba(151, 46, 1, 0.07);
  --colors-bronze-alpha-4: rgba(132, 38, 0, 0.11);
  --colors-bronze-alpha-5: rgba(121, 38, 0, 0.16);
  --colors-bronze-alpha-6: rgba(114, 32, 0, 0.22);
  --colors-bronze-alpha-7: rgba(110, 33, 0, 0.31);
  --colors-bronze-alpha-8: rgba(103, 29, 0, 0.42);
  --colors-bronze-alpha-9: rgba(85, 25, 0, 0.55);
  --colors-bronze-alpha-10: rgba(76, 22, 0, 0.6);
  --colors-bronze-alpha-11: rgba(61, 15, 0, 0.67);
  --colors-bronze-alpha-12: rgba(29, 6, 0, 0.83);
  --colors-gold-1: rgba(253, 253, 252, 1);
  --colors-gold-2: rgba(251, 249, 242, 1);
  --colors-gold-3: rgba(245, 242, 233, 1);
  --colors-gold-4: rgba(238, 234, 221, 1);
  --colors-gold-5: rgba(229, 223, 208, 1);
  --colors-gold-6: rgba(218, 209, 189, 1);
  --colors-gold-7: rgba(203, 189, 164, 1);
  --colors-gold-8: rgba(184, 163, 131, 1);
  --colors-gold-9: rgba(151, 131, 101, 1);
  --colors-gold-10: rgba(137, 119, 92, 1);
  --colors-gold-11: rgba(113, 98, 75, 1);
  --colors-gold-12: rgba(59, 53, 43, 1);
  --colors-gold-alpha-1: rgba(88, 88, 5, 0.01);
  --colors-gold-alpha-2: rgba(176, 137, 0, 0.05);
  --colors-gold-alpha-3: rgba(140, 106, 2, 0.09);
  --colors-gold-alpha-4: rgba(128, 98, 1, 0.13);
  --colors-gold-alpha-5: rgba(114, 82, 1, 0.19);
  --colors-gold-alpha-6: rgba(112, 77, 0, 0.26);
  --colors-gold-alpha-7: rgba(110, 70, 0, 0.36);
  --colors-gold-alpha-8: rgba(109, 66, 0, 0.49);
  --colors-gold-alpha-9: rgba(83, 50, 0, 0.6);
  --colors-gold-alpha-10: rgba(71, 42, 0, 0.64);
  --colors-gold-alpha-11: rgba(54, 32, 0, 0.71);
  --colors-gold-alpha-12: rgba(19, 12, 0, 0.83);
  --colors-sky-1: rgba(249, 254, 255, 1);
  --colors-sky-2: rgba(241, 252, 255, 1);
  --colors-sky-3: rgba(226, 249, 255, 1);
  --colors-sky-4: rgba(210, 244, 253, 1);
  --colors-sky-5: rgba(191, 235, 248, 1);
  --colors-sky-6: rgba(165, 220, 237, 1);
  --colors-sky-7: rgba(130, 202, 224, 1);
  --colors-sky-8: rgba(70, 184, 216, 1);
  --colors-sky-9: rgba(124, 226, 254, 1);
  --colors-sky-10: rgba(114, 219, 248, 1);
  --colors-sky-11: rgba(37, 110, 147, 1);
  --colors-sky-12: rgba(25, 64, 77, 1);
  --colors-sky-alpha-1: rgba(5, 213, 255, 0.02);
  --colors-sky-alpha-2: rgba(1, 200, 255, 0.05);
  --colors-sky-alpha-3: rgba(1, 204, 255, 0.11);
  --colors-sky-alpha-4: rgba(1, 191, 244, 0.18);
  --colors-sky-alpha-5: rgba(0, 174, 227, 0.25);
  --colors-sky-alpha-6: rgba(0, 156, 204, 0.35);
  --colors-sky-alpha-7: rgba(0, 146, 192, 0.49);
  --colors-sky-alpha-8: rgba(0, 157, 201, 0.73);
  --colors-sky-alpha-9: rgba(0, 199, 253, 0.51);
  --colors-sky-alpha-10: rgba(0, 190, 242, 0.55);
  --colors-sky-alpha-11: rgba(0, 86, 129, 0.86);
  --colors-sky-alpha-12: rgba(0, 44, 58, 0.9);
  --colors-mint-1: rgba(249, 254, 253, 1);
  --colors-mint-2: rgba(239, 254, 250, 1);
  --colors-mint-3: rgba(221, 251, 243, 1);
  --colors-mint-4: rgba(204, 247, 236, 1);
  --colors-mint-5: rgba(187, 238, 226, 1);
  --colors-mint-6: rgba(166, 225, 211, 1);
  --colors-mint-7: rgba(135, 208, 191, 1);
  --colors-mint-8: rgba(81, 189, 167, 1);
  --colors-mint-9: rgba(134, 234, 212, 1);
  --colors-mint-10: rgba(127, 225, 204, 1);
  --colors-mint-11: rgba(39, 117, 106, 1);
  --colors-mint-12: rgba(22, 67, 60, 1);
  --colors-mint-alpha-1: rgba(5, 213, 172, 0.02);
  --colors-mint-alpha-2: rgba(1, 239, 176, 0.06);
  --colors-mint-alpha-3: rgba(1, 225, 165, 0.13);
  --colors-mint-alpha-4: rgba(0, 215, 161, 0.2);
  --colors-mint-alpha-5: rgba(0, 192, 147, 0.27);
  --colors-mint-alpha-6: rgba(1, 169, 130, 0.35);
  --colors-mint-alpha-7: rgba(0, 155, 120, 0.47);
  --colors-mint-alpha-8: rgba(0, 158, 127, 0.68);
  --colors-mint-alpha-9: rgba(0, 211, 165, 0.47);
  --colors-mint-alpha-10: rgba(0, 195, 153, 0.5);
  --colors-mint-alpha-11: rgba(0, 92, 80, 0.85);
  --colors-mint-alpha-12: rgba(0, 49, 42, 0.91);
  --colors-lime-1: rgba(252, 253, 250, 1);
  --colors-lime-2: rgba(247, 252, 240, 1);
  --colors-lime-3: rgba(237, 250, 218, 1);
  --colors-lime-4: rgba(226, 245, 196, 1);
  --colors-lime-5: rgba(213, 237, 175, 1);
  --colors-lime-6: rgba(198, 222, 153, 1);
  --colors-lime-7: rgba(178, 202, 127, 1);
  --colors-lime-8: rgba(154, 182, 84, 1);
  --colors-lime-9: rgba(189, 238, 99, 1);
  --colors-lime-10: rgba(176, 230, 76, 1);
  --colors-lime-11: rgba(89, 104, 44, 1);
  --colors-lime-12: rgba(55, 64, 28, 1);
  --colors-lime-alpha-1: rgba(105, 155, 5, 0.02);
  --colors-lime-alpha-2: rgba(119, 204, 1, 0.06);
  --colors-lime-alpha-3: rgba(133, 222, 1, 0.15);
  --colors-lime-alpha-4: rgba(131, 212, 1, 0.23);
  --colors-lime-alpha-5: rgba(122, 198, 0, 0.31);
  --colors-lime-alpha-6: rgba(112, 172, 0, 0.4);
  --colors-lime-alpha-7: rgba(103, 149, 0, 0.5);
  --colors-lime-alpha-8: rgba(105, 146, 0, 0.67);
  --colors-lime-alpha-9: rgba(148, 227, 0, 0.61);
  --colors-lime-alpha-10: rgba(143, 219, 0, 0.7);
  --colors-lime-alpha-11: rgba(55, 73, 0, 0.83);
  --colors-lime-alpha-12: rgba(30, 41, 0, 0.89);
  --colors-yellow-1: rgba(253, 253, 249, 1);
  --colors-yellow-2: rgba(255, 251, 224, 1);
  --colors-yellow-3: rgba(255, 248, 198, 1);
  --colors-yellow-4: rgba(252, 243, 175, 1);
  --colors-yellow-5: rgba(247, 234, 155, 1);
  --colors-yellow-6: rgba(236, 221, 133, 1);
  --colors-yellow-7: rgba(218, 197, 110, 1);
  --colors-yellow-8: rgba(201, 170, 69, 1);
  --colors-yellow-9: rgba(251, 227, 45, 1);
  --colors-yellow-10: rgba(249, 218, 16, 1);
  --colors-yellow-11: rgba(119, 95, 40, 1);
  --colors-yellow-12: rgba(71, 59, 31, 1);
  --colors-yellow-alpha-1: rgba(171, 171, 5, 0.02);
  --colors-yellow-alpha-2: rgba(255, 221, 1, 0.12);
  --colors-yellow-alpha-3: rgba(255, 227, 1, 0.22);
  --colors-yellow-alpha-4: rgba(246, 217, 0, 0.31);
  --colors-yellow-alpha-5: rgba(235, 203, 1, 0.39);
  --colors-yellow-alpha-6: rgba(215, 183, 0, 0.48);
  --colors-yellow-alpha-7: rgba(190, 152, 0, 0.57);
  --colors-yellow-alpha-8: rgba(181, 139, 0, 0.73);
  --colors-yellow-alpha-9: rgba(250, 220, 0, 0.82);
  --colors-yellow-alpha-10: rgba(249, 216, 0, 0.94);
  --colors-yellow-alpha-11: rgba(94, 66, 0, 0.84);
  --colors-yellow-alpha-12: rgba(46, 32, 0, 0.88);
  --colors-amber-1: rgba(254, 253, 251, 1);
  --colors-amber-2: rgba(255, 249, 237, 1);
  --colors-amber-3: rgba(255, 243, 208, 1);
  --colors-amber-4: rgba(255, 236, 183, 1);
  --colors-amber-5: rgba(255, 224, 161, 1);
  --colors-amber-6: rgba(245, 208, 140, 1);
  --colors-amber-7: rgba(228, 187, 120, 1);
  --colors-amber-8: rgba(214, 163, 92, 1);
  --colors-amber-9: rgba(255, 197, 61, 1);
  --colors-amber-10: rgba(255, 186, 26, 1);
  --colors-amber-11: rgba(145, 89, 48, 1);
  --colors-amber-12: rgba(79, 52, 34, 1);
  --colors-amber-alpha-1: rgba(192, 130, 5, 0.02);
  --colors-amber-alpha-2: rgba(255, 170, 1, 0.07);
  --colors-amber-alpha-3: rgba(255, 191, 1, 0.19);
  --colors-amber-alpha-4: rgba(255, 187, 1, 0.28);
  --colors-amber-alpha-5: rgba(254, 170, 1, 0.37);
  --colors-amber-alpha-6: rgba(233, 151, 0, 0.45);
  --colors-amber-alpha-7: rgba(204, 126, 0, 0.53);
  --colors-amber-alpha-8: rgba(191, 112, 0, 0.64);
  --colors-amber-alpha-9: rgba(255, 178, 0, 0.76);
  --colors-amber-alpha-10: rgba(255, 179, 1, 0.9);
  --colors-amber-alpha-11: rgba(120, 50, 0, 0.81);
  --colors-amber-alpha-12: rgba(52, 21, 0, 0.87);
  --colors-gray-1: rgba(252, 252, 252, 1);
  --colors-gray-2: rgba(249, 249, 249, 1);
  --colors-gray-3: rgba(241, 241, 241, 1);
  --colors-gray-4: rgba(235, 235, 235, 1);
  --colors-gray-5: rgba(228, 228, 228, 1);
  --colors-gray-6: rgba(221, 221, 221, 1);
  --colors-gray-7: rgba(212, 212, 212, 1);
  --colors-gray-8: rgba(187, 187, 187, 1);
  --colors-gray-9: rgba(141, 141, 141, 1);
  --colors-gray-10: rgba(128, 128, 128, 1);
  --colors-gray-11: rgba(100, 100, 100, 1);
  --colors-gray-12: rgba(32, 32, 32, 1);
  --colors-gray-alpha-1: rgba(0, 0, 0, 0.01);
  --colors-gray-alpha-2: rgba(0, 0, 0, 0.02);
  --colors-gray-alpha-3: rgba(0, 0, 0, 0.05);
  --colors-gray-alpha-4: rgba(0, 0, 0, 0.08);
  --colors-gray-alpha-5: rgba(0, 0, 0, 0.11);
  --colors-gray-alpha-6: rgba(0, 0, 0, 0.13);
  --colors-gray-alpha-7: rgba(0, 0, 0, 0.17);
  --colors-gray-alpha-8: rgba(0, 0, 0, 0.27);
  --colors-gray-alpha-9: rgba(0, 0, 0, 0.45);
  --colors-gray-alpha-10: rgba(0, 0, 0, 0.5);
  --colors-gray-alpha-11: rgba(0, 0, 0, 0.61);
  --colors-gray-alpha-12: rgba(0, 0, 0, 0.88);
  --colors-mauve-1: rgba(253, 252, 253, 1);
  --colors-mauve-2: rgba(250, 249, 251, 1);
  --colors-mauve-3: rgba(243, 241, 245, 1);
  --colors-mauve-4: rgba(236, 234, 239, 1);
  --colors-mauve-5: rgba(230, 227, 233, 1);
  --colors-mauve-6: rgba(223, 220, 227, 1);
  --colors-mauve-7: rgba(213, 211, 219, 1);
  --colors-mauve-8: rgba(188, 186, 199, 1);
  --colors-mauve-9: rgba(142, 140, 153, 1);
  --colors-mauve-10: rgba(129, 127, 139, 1);
  --colors-mauve-11: rgba(101, 99, 109, 1);
  --colors-mauve-12: rgba(33, 31, 38, 1);
  --colors-mauve-alpha-1: rgba(88, 5, 88, 0.01);
  --colors-mauve-alpha-2: rgba(47, 5, 88, 0.02);
  --colors-mauve-alpha-3: rgba(37, 0, 73, 0.05);
  --colors-mauve-alpha-4: rgba(26, 2, 62, 0.08);
  --colors-mauve-alpha-5: rgba(28, 0, 55, 0.11);
  --colors-mauve-alpha-6: rgba(23, 1, 52, 0.14);
  --colors-mauve-alpha-7: rgba(12, 1, 47, 0.17);
  --colors-mauve-alpha-8: rgba(8, 0, 49, 0.27);
  --colors-mauve-alpha-9: rgba(4, 0, 29, 0.45);
  --colors-mauve-alpha-10: rgba(4, 0, 24, 0.5);
  --colors-mauve-alpha-11: rgba(3, 0, 16, 0.61);
  --colors-mauve-alpha-12: rgba(2, 0, 8, 0.88);
  --colors-slate-1: rgba(252, 252, 253, 1);
  --colors-slate-2: rgba(249, 249, 251, 1);
  --colors-slate-3: rgba(242, 242, 245, 1);
  --colors-slate-4: rgba(235, 235, 239, 1);
  --colors-slate-5: rgba(228, 228, 233, 1);
  --colors-slate-6: rgba(221, 221, 227, 1);
  --colors-slate-7: rgba(211, 212, 219, 1);
  --colors-slate-8: rgba(185, 187, 198, 1);
  --colors-slate-9: rgba(139, 141, 152, 1);
  --colors-slate-10: rgba(126, 128, 138, 1);
  --colors-slate-11: rgba(96, 100, 108, 1);
  --colors-slate-12: rgba(28, 32, 36, 1);
  --colors-slate-alpha-1: rgba(5, 5, 88, 0.01);
  --colors-slate-alpha-2: rgba(5, 5, 88, 0.02);
  --colors-slate-alpha-3: rgba(0, 0, 59, 0.05);
  --colors-slate-alpha-4: rgba(2, 2, 52, 0.08);
  --colors-slate-alpha-5: rgba(0, 0, 48, 0.11);
  --colors-slate-alpha-6: rgba(1, 1, 46, 0.13);
  --colors-slate-alpha-7: rgba(1, 6, 47, 0.17);
  --colors-slate-alpha-8: rgba(0, 8, 47, 0.28);
  --colors-slate-alpha-9: rgba(0, 4, 29, 0.46);
  --colors-slate-alpha-10: rgba(0, 4, 24, 0.51);
  --colors-slate-alpha-11: rgba(0, 7, 19, 0.62);
  --colors-slate-alpha-12: rgba(0, 5, 9, 0.89);
  --colors-sage-1: rgba(251, 253, 252, 1);
  --colors-sage-2: rgba(247, 249, 248, 1);
  --colors-sage-3: rgba(240, 242, 241, 1);
  --colors-sage-4: rgba(233, 236, 235, 1);
  --colors-sage-5: rgba(227, 230, 228, 1);
  --colors-sage-6: rgba(220, 223, 221, 1);
  --colors-sage-7: rgba(210, 213, 211, 1);
  --colors-sage-8: rgba(184, 188, 186, 1);
  --colors-sage-9: rgba(134, 142, 139, 1);
  --colors-sage-10: rgba(122, 129, 127, 1);
  --colors-sage-11: rgba(95, 101, 99, 1);
  --colors-sage-12: rgba(26, 33, 30, 1);
  --colors-sage-alpha-1: rgba(5, 130, 68, 0.02);
  --colors-sage-alpha-2: rgba(5, 69, 37, 0.03);
  --colors-sage-alpha-3: rgba(1, 34, 18, 0.06);
  --colors-sage-alpha-4: rgba(2, 37, 25, 0.09);
  --colors-sage-alpha-5: rgba(0, 28, 9, 0.11);
  --colors-sage-alpha-6: rgba(1, 23, 9, 0.14);
  --colors-sage-alpha-7: rgba(1, 18, 6, 0.18);
  --colors-sage-alpha-8: rgba(1, 15, 8, 0.28);
  --colors-sage-alpha-9: rgba(0, 17, 11, 0.47);
  --colors-sage-alpha-10: rgba(0, 14, 10, 0.52);
  --colors-sage-alpha-11: rgba(0, 10, 7, 0.63);
  --colors-sage-alpha-12: rgba(0, 8, 5, 0.9);
  --colors-olive-1: rgba(252, 253, 252, 1);
  --colors-olive-2: rgba(248, 250, 248, 1);
  --colors-olive-3: rgba(241, 243, 241, 1);
  --colors-olive-4: rgba(234, 236, 234, 1);
  --colors-olive-5: rgba(227, 229, 227, 1);
  --colors-olive-6: rgba(219, 222, 219, 1);
  --colors-olive-7: rgba(210, 212, 209, 1);
  --colors-olive-8: rgba(185, 188, 184, 1);
  --colors-olive-9: rgba(137, 142, 135, 1);
  --colors-olive-10: rgba(124, 129, 123, 1);
  --colors-olive-11: rgba(96, 101, 95, 1);
  --colors-olive-12: rgba(29, 33, 28, 1);
  --colors-olive-alpha-1: rgba(5, 88, 5, 0.01);
  --colors-olive-alpha-2: rgba(5, 77, 5, 0.03);
  --colors-olive-alpha-3: rgba(0, 37, 0, 0.05);
  --colors-olive-alpha-4: rgba(2, 26, 2, 0.08);
  --colors-olive-alpha-5: rgba(0, 18, 0, 0.11);
  --colors-olive-alpha-6: rgba(1, 22, 1, 0.14);
  --colors-olive-alpha-7: rgba(6, 17, 1, 0.18);
  --colors-olive-alpha-8: rgba(4, 15, 1, 0.28);
  --colors-olive-alpha-9: rgba(4, 15, 0, 0.47);
  --colors-olive-alpha-10: rgba(2, 12, 0, 0.52);
  --colors-olive-alpha-11: rgba(2, 10, 0, 0.63);
  --colors-olive-alpha-12: rgba(1, 6, 0, 0.89);
  --colors-sand-1: rgba(253, 253, 252, 1);
  --colors-sand-2: rgba(249, 249, 248, 1);
  --colors-sand-3: rgba(242, 242, 240, 1);
  --colors-sand-4: rgba(235, 235, 233, 1);
  --colors-sand-5: rgba(228, 228, 226, 1);
  --colors-sand-6: rgba(221, 221, 218, 1);
  --colors-sand-7: rgba(211, 210, 206, 1);
  --colors-sand-8: rgba(188, 187, 181, 1);
  --colors-sand-9: rgba(141, 141, 134, 1);
  --colors-sand-10: rgba(128, 128, 122, 1);
  --colors-sand-11: rgba(99, 99, 94, 1);
  --colors-sand-12: rgba(33, 32, 28, 1);
  --colors-sand-alpha-1: rgba(88, 88, 5, 0.01);
  --colors-sand-alpha-2: rgba(41, 41, 5, 0.03);
  --colors-sand-alpha-3: rgba(34, 34, 1, 0.06);
  --colors-sand-alpha-4: rgba(25, 25, 2, 0.09);
  --colors-sand-alpha-5: rgba(18, 18, 1, 0.11);
  --colors-sand-alpha-6: rgba(22, 22, 2, 0.15);
  --colors-sand-alpha-7: rgba(27, 22, 1, 0.19);
  --colors-sand-alpha-8: rgba(25, 21, 1, 0.29);
  --colors-sand-alpha-9: rgba(15, 15, 0, 0.47);
  --colors-sand-alpha-10: rgba(12, 12, 0, 0.52);
  --colors-sand-alpha-11: rgba(8, 8, 0, 0.63);
  --colors-sand-alpha-12: rgba(6, 5, 0, 0.89);

  --overlays-white-alpha-1: rgba(255, 255, 255, 0);
  --overlays-white-alpha-2: rgba(255, 255, 255, 0.01);
  --overlays-white-alpha-3: rgba(255, 255, 255, 0.07);
  --overlays-white-alpha-4: rgba(255, 255, 255, 0.1);
  --overlays-white-alpha-5: rgba(255, 255, 255, 0.13);
  --overlays-white-alpha-6: rgba(255, 255, 255, 0.17);
  --overlays-white-alpha-7: rgba(255, 255, 255, 0.22);
  --overlays-white-alpha-8: rgba(255, 255, 255, 0.31);
  --overlays-white-alpha-9: rgba(255, 255, 255, 0.37);
  --overlays-white-alpha-10: rgba(255, 255, 255, 0.46);
  --overlays-white-alpha-11: rgba(255, 255, 255, 0.66);
  --overlays-white-alpha-12: rgba(255, 255, 255, 0.93);
  --overlays-black-alpha-1: rgba(0, 0, 0, 0.01);
  --overlays-black-alpha-2: rgba(0, 0, 0, 0.02);
  --overlays-black-alpha-3: rgba(0, 0, 0, 0.05);
  --overlays-black-alpha-4: rgba(0, 0, 0, 0.08);
  --overlays-black-alpha-5: rgba(0, 0, 0, 0.11);
  --overlays-black-alpha-6: rgba(0, 0, 0, 0.13);
  --overlays-black-alpha-7: rgba(0, 0, 0, 0.17);
  --overlays-black-alpha-8: rgba(0, 0, 0, 0.27);
  --overlays-black-alpha-9: rgba(0, 0, 0, 0.45);
  --overlays-black-alpha-10: rgba(0, 0, 0, 0.5);
  --overlays-black-alpha-11: rgba(0, 0, 0, 0.61);
  --overlays-black-alpha-12: rgba(0, 0, 0, 0.88);
}
