@import url("./radix-palette-light.css");
@import url("./radix-wa-adapter.css");

:root {
  --default-colors-white: rgba(255, 255, 255, 1);
  --default-colors-black: rgba(28, 32, 36, 1);

  --neutral-color-neutral-1: var(--colors-slate-1);
  --neutral-color-neutral-2: var(--colors-slate-2);
  --neutral-color-neutral-3: var(--colors-slate-3);
  --neutral-color-neutral-4: var(--colors-slate-4);
  --neutral-color-neutral-5: var(--colors-slate-5);
  --neutral-color-neutral-6: var(--colors-slate-6);
  --neutral-color-neutral-7: var(--colors-slate-7);
  --neutral-color-neutral-8: var(--colors-slate-8);
  --neutral-color-neutral-9: var(--colors-slate-9);
  --neutral-color-neutral-10: var(--colors-slate-10);
  --neutral-color-neutral-11: var(--colors-slate-11);
  --neutral-color-neutral-12: var(--colors-slate-12);
  --neutral-color-neutral: var(--colors-slate-9);
  --neutral-color-neutral-on: var(--colors-slate-on);
  --neutral-color-neutral-alpha-1: var(--colors-slate-alpha-1);
  --neutral-color-neutral-alpha-2: var(--colors-slate-alpha-2);
  --neutral-color-neutral-alpha-3: var(--colors-slate-alpha-3);
  --neutral-color-neutral-alpha-4: var(--colors-slate-alpha-4);
  --neutral-color-neutral-alpha-5: var(--colors-slate-alpha-5);
  --neutral-color-neutral-alpha-6: var(--colors-slate-alpha-6);
  --neutral-color-neutral-alpha-7: var(--colors-slate-alpha-7);
  --neutral-color-neutral-alpha-8: var(--colors-slate-alpha-8);
  --neutral-color-neutral-alpha-9: var(--colors-slate-alpha-9);
  --neutral-color-neutral-alpha-10: var(--colors-slate-alpha-10);
  --neutral-color-neutral-alpha-11: var(--colors-slate-alpha-11);
  --neutral-color-neutral-alpha-12: var(--colors-slate-alpha-12);
  --neutral-color-neutral-alpha: var(--colors-slate-alpha-9);
  --neutral-color-neutral-alpha-on: var(--colors-slate-alpha-on);

  --accent-color-accent-1: var(--colors-indigo-1);
  --accent-color-accent-2: var(--colors-indigo-2);
  --accent-color-accent-3: var(--colors-indigo-3);
  --accent-color-accent-4: var(--colors-indigo-4);
  --accent-color-accent-5: var(--colors-indigo-5);
  --accent-color-accent-6: var(--colors-indigo-6);
  --accent-color-accent-7: var(--colors-indigo-7);
  --accent-color-accent-8: var(--colors-indigo-8);
  --accent-color-accent-9: var(--colors-indigo-9);
  --accent-color-accent-10: var(--colors-indigo-10);
  --accent-color-accent-11: var(--colors-indigo-11);
  --accent-color-accent-12: var(--colors-indigo-12);
  --accent-color-accent: var(--colors-indigo-9);
  --accent-color-accent-on: var(--colors-indigo-on);
  --accent-color-accent-alpha-1: var(--colors-indigo-alpha-1);
  --accent-color-accent-alpha-2: var(--colors-indigo-alpha-2);
  --accent-color-accent-alpha-3: var(--colors-indigo-alpha-3);
  --accent-color-accent-alpha-4: var(--colors-indigo-alpha-4);
  --accent-color-accent-alpha-5: var(--colors-indigo-alpha-5);
  --accent-color-accent-alpha-6: var(--colors-indigo-alpha-6);
  --accent-color-accent-alpha-7: var(--colors-indigo-alpha-7);
  --accent-color-accent-alpha-8: var(--colors-indigo-alpha-8);
  --accent-color-accent-alpha-9: var(--colors-indigo-alpha-9);
  --accent-color-accent-alpha-10: var(--colors-indigo-alpha-10);
  --accent-color-accent-alpha-11: var(--colors-indigo-alpha-11);
  --accent-color-accent-alpha-12: var(--colors-indigo-alpha-12);
  --accent-color-accent-alpha: var(--colors-indigo-alpha-9);
  --accent-color-accent-alpha-on: var(--colors-indigo-alpha-on);

  --semantic-colors-error-1: var(--colors-red-1);
  --semantic-colors-error-2: var(--colors-red-2);
  --semantic-colors-error-3: var(--colors-red-3);
  --semantic-colors-error-4: var(--colors-red-4);
  --semantic-colors-error-5: var(--colors-red-5);
  --semantic-colors-error-6: var(--colors-red-6);
  --semantic-colors-error-7: var(--colors-red-7);
  --semantic-colors-error-8: var(--colors-red-8);
  --semantic-colors-error-9: var(--colors-red-9);
  --semantic-colors-error-10: var(--colors-red-10);
  --semantic-colors-error-11: var(--colors-red-11);
  --semantic-colors-error-12: var(--colors-red-12);
  --semantic-colors-error: var(--colors-red-9);
  --semantic-colors-error-on: var(--colors-red-on);
  --semantic-colors-error-alpha-1: var(--colors-red-alpha-1);
  --semantic-colors-error-alpha-2: var(--colors-red-alpha-2);
  --semantic-colors-error-alpha-3: var(--colors-red-alpha-3);
  --semantic-colors-error-alpha-4: var(--colors-red-alpha-4);
  --semantic-colors-error-alpha-5: var(--colors-red-alpha-5);
  --semantic-colors-error-alpha-6: var(--colors-red-alpha-6);
  --semantic-colors-error-alpha-7: var(--colors-red-alpha-7);
  --semantic-colors-error-alpha-8: var(--colors-red-alpha-8);
  --semantic-colors-error-alpha-9: var(--colors-red-alpha-9);
  --semantic-colors-error-alpha-10: var(--colors-red-alpha-10);
  --semantic-colors-error-alpha-11: var(--colors-red-alpha-11);
  --semantic-colors-error-alpha-12: var(--colors-red-alpha-12);
  --semantic-colors-error-alpha: var(--colors-red-alpha-9);
  --semantic-colors-error-alpha-on: var(--colors-red-alpha-on);

  --semantic-colors-success-1: var(--colors-green-1);
  --semantic-colors-success-2: var(--colors-green-2);
  --semantic-colors-success-3: var(--colors-green-3);
  --semantic-colors-success-4: var(--colors-green-4);
  --semantic-colors-success-5: var(--colors-green-5);
  --semantic-colors-success-6: var(--colors-green-6);
  --semantic-colors-success-7: var(--colors-green-7);
  --semantic-colors-success-8: var(--colors-green-8);
  --semantic-colors-success-9: var(--colors-green-9);
  --semantic-colors-success-10: var(--colors-green-10);
  --semantic-colors-success-11: var(--colors-green-11);
  --semantic-colors-success-12: var(--colors-green-12);
  --semantic-colors-success: var(--colors-green-9);
  --semantic-colors-success-on: var(--colors-green-on);
  --semantic-colors-success-alpha-1: var(--colors-green-alpha-1);
  --semantic-colors-success-alpha-2: var(--colors-green-alpha-2);
  --semantic-colors-success-alpha-3: var(--colors-green-alpha-3);
  --semantic-colors-success-alpha-4: var(--colors-green-alpha-4);
  --semantic-colors-success-alpha-5: var(--colors-green-alpha-5);
  --semantic-colors-success-alpha-6: var(--colors-green-alpha-6);
  --semantic-colors-success-alpha-7: var(--colors-green-alpha-7);
  --semantic-colors-success-alpha-8: var(--colors-green-alpha-8);
  --semantic-colors-success-alpha-9: var(--colors-green-alpha-9);
  --semantic-colors-success-alpha-10: var(--colors-green-alpha-10);
  --semantic-colors-success-alpha-11: var(--colors-green-alpha-11);
  --semantic-colors-success-alpha-12: var(--colors-green-alpha-12);
  --semantic-colors-success-alpha: var(--colors-green-alpha-9);
  --semantic-colors-success-alpha-on: var(--colors-green-alpha-on);

  --semantic-colors-warning-1: var(--colors-amber-1);
  --semantic-colors-warning-2: var(--colors-amber-2);
  --semantic-colors-warning-3: var(--colors-amber-3);
  --semantic-colors-warning-4: var(--colors-amber-4);
  --semantic-colors-warning-5: var(--colors-amber-5);
  --semantic-colors-warning-6: var(--colors-amber-6);
  --semantic-colors-warning-7: var(--colors-amber-7);
  --semantic-colors-warning-8: var(--colors-amber-8);
  --semantic-colors-warning-9: var(--colors-amber-9);
  --semantic-colors-warning-10: var(--colors-amber-10);
  --semantic-colors-warning-11: var(--colors-amber-11);
  --semantic-colors-warning-12: var(--colors-amber-12);
  --semantic-colors-warning: var(--colors-amber-9);
  --semantic-colors-warning-on: var(--colors-amber-on);
  --semantic-colors-warning-alpha-1: var(--colors-amber-alpha-1);
  --semantic-colors-warning-alpha-2: var(--colors-amber-alpha-2);
  --semantic-colors-warning-alpha-3: var(--colors-amber-alpha-3);
  --semantic-colors-warning-alpha-4: var(--colors-amber-alpha-4);
  --semantic-colors-warning-alpha-5: var(--colors-amber-alpha-5);
  --semantic-colors-warning-alpha-6: var(--colors-amber-alpha-6);
  --semantic-colors-warning-alpha-7: var(--colors-amber-alpha-7);
  --semantic-colors-warning-alpha-8: var(--colors-amber-alpha-8);
  --semantic-colors-warning-alpha-9: var(--colors-amber-alpha-9);
  --semantic-colors-warning-alpha-10: var(--colors-amber-alpha-10);
  --semantic-colors-warning-alpha-11: var(--colors-amber-alpha-11);
  --semantic-colors-warning-alpha-12: var(--colors-amber-alpha-12);
  --semantic-colors-warning-alpha: var(--colors-amber-alpha-9);
  --semantic-colors-warning-alpha-on: var(--colors-amber-alpha-on);

  --semantic-colors-info-1: var(--colors-sky-1);
  --semantic-colors-info-2: var(--colors-sky-2);
  --semantic-colors-info-3: var(--colors-sky-3);
  --semantic-colors-info-4: var(--colors-sky-4);
  --semantic-colors-info-5: var(--colors-sky-5);
  --semantic-colors-info-6: var(--colors-sky-6);
  --semantic-colors-info-7: var(--colors-sky-7);
  --semantic-colors-info-8: var(--colors-sky-8);
  --semantic-colors-info-9: var(--colors-sky-9);
  --semantic-colors-info-10: var(--colors-sky-10);
  --semantic-colors-info-11: var(--colors-sky-11);
  --semantic-colors-info-12: var(--colors-sky-12);
  --semantic-colors-info: var(--colors-sky-9);
  --semantic-colors-info-on: var(--colors-sky-on);
  --semantic-colors-info-alpha-1: var(--colors-sky-alpha-1);
  --semantic-colors-info-alpha-2: var(--colors-sky-alpha-2);
  --semantic-colors-info-alpha-3: var(--colors-sky-alpha-3);
  --semantic-colors-info-alpha-4: var(--colors-sky-alpha-4);
  --semantic-colors-info-alpha-5: var(--colors-sky-alpha-5);
  --semantic-colors-info-alpha-6: var(--colors-sky-alpha-6);
  --semantic-colors-info-alpha-7: var(--colors-sky-alpha-7);
  --semantic-colors-info-alpha-8: var(--colors-sky-alpha-8);
  --semantic-colors-info-alpha-09: var(--colors-sky-alpha-9);
  --semantic-colors-info-alpha-10: var(--colors-sky-alpha-10);
  --semantic-colors-info-alpha-11: var(--colors-sky-alpha-11);
  --semantic-colors-info-alpha-12: var(--colors-sky-alpha-12);
  --semantic-colors-info-alpha: var(--colors-sky-alpha-9);
  --semantic-colors-info-alpha-on: var(--colors-sky-alpha-on);

  --tokens-colors-contrast-accent: var(--tokens-colors-contrast-white);
  --tokens-colors-contrast-white: var(--default-colors-white);
  --tokens-colors-contrast-black: var(--default-colors-black);

  --tokens-colors-text: var(--variables-backgrounds-dark-to-white);
  --tokens-colors-surface: var(--variables-backgrounds-white-to-dark-2);
  --tokens-colors-page-background: var(--variables-backgrounds-white-to-dark);
  --tokens-colors-surface-accent: var(--accent-color-accent-alpha-2);
  --tokens-colors-overlay: var(--variables-backgrounds-backdrop);

  --radius-full: 9999px;
  --radius-1: var(--medium-1);
  --radius-2: var(--medium-2);
  --radius-3: var(--medium-3);
  --radius-4: var(--medium-4);
  --radius-5: var(--medium-5);
  --radius-6: var(--medium-6);
  --radius-1-max: var(--medium-1-max);
  --radius-2-max: var(--medium-2-max);
  --radius-3-max: var(--medium-3-max);
  --radius-4-max: var(--medium-4-max);
  --radius-5-max: var(--medium-5-max);
  --radius-6-max: var(--medium-6-max);

  --panel-default: var(--panel-translucent);
  --panel-solid: var(--variables-effects-solid);
  --panel-translucent: var(--variables-effects-translucent);

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;

  --tokens-space-button-height-1: var(--space-5);
  --tokens-space-button-height-2: var(--space-6);
  --tokens-space-button-height-3: var(--space-7);
  --tokens-space-button-height-4: var(--space-8);

  --tokens-space-menu-item-height-1: var(--space-5);
  --tokens-space-menu-item-height-2: var(--space-6);

  --tokens-space-table-cell-min-height-1: 36px;
  --tokens-space-table-cell-min-height-2: 44px;
  --tokens-space-table-cell-min-height-3: var(--space-8);

  --tokens-space-table-cell-padding-1: var(--space-2);
  --tokens-space-table-cell-padding-2: var(--space-3);
  --tokens-space-table-cell-padding-3: var(--space-4);
}
