.invitationDetailsChild {
  border-radius: 12px;
  box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.133) inset;
  border: 1px solid #dddde3;
  background-color: #f9f9f8;

  .invitationDetailsChildHeader {
    padding: 12px;
    color: #60646c;
    font-weight: var(--wa-font-weight-normal);
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

    .tenantName {
      font-weight: var(--wa-font-weight-semibold);
      font-style: Medium;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
    }
  }

  .invitationDetailsCodeContainer {
    display: flex;
    align-items: center;
    color: #60646c;
    padding: 12px;
    background-color: #f2f2f0;
    border-top: 1px solid #dddde3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .invitationCodeContainer {
      margin-left: 10px;
      padding: 2px 8px;
      border-radius: 9999px;
      box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.133) inset;
      background: #00003b0d;
      color: #0007139f;
    }
  }
}

.invitationDetailsFooter {
  display: flex;
  justify-content: end;
}

.invitationAcceptHeader {
  font-weight: var(--wa-font-weight-extrabold);
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.12px;
  color: #1c2024;
}

.invitationDetailsChild::part(header) {
  padding: 0 !important;
}

.invitationDetailsChild::part(body) {
  padding: 0 !important;
}
