@import url("../radix/radix-theme.css");

:root {
  --wa-color-brand-95: var(--accent-color-accent-12);
  --wa-color-brand-90: var(--accent-color-accent-11);
  --wa-color-brand-80: var(--accent-color-accent-10);
  --wa-color-brand-70: var(--accent-color-accent-9);
  --wa-color-brand-60: var(--accent-color-accent-8);
  --wa-color-brand-50: var(--accent-color-accent-7);
  --wa-color-brand-40: var(--accent-color-accent-6);
  --wa-color-brand-30: var(--accent-color-accent-5);
  --wa-color-brand-20: var(--accent-color-accent-4);
  --wa-color-brand-10: var(--accent-color-accent-3);
  --wa-color-brand-05: var(--accent-color-accent-2);
  --wa-color-brand-00: var(--accent-color-accent-1);
  --wa-color-brand: var(--accent-color-accent);
  --wa-color-brand-on: var(--accent-color-accent-on);
  --wa-color-brand-alpha-95: var(--accent-color-accent-alpha-12);
  --wa-color-brand-alpha-90: var(--accent-color-accent-alpha-11);
  --wa-color-brand-alpha-80: var(--accent-color-accent-alpha-10);
  --wa-color-brand-alpha-70: var(--accent-color-accent-alpha-9);
  --wa-color-brand-alpha-60: var(--accent-color-accent-alpha-8);
  --wa-color-brand-alpha-50: var(--accent-color-accent-alpha-7);
  --wa-color-brand-alpha-40: var(--accent-color-accent-alpha-6);
  --wa-color-brand-alpha-30: var(--accent-color-accent-alpha-5);
  --wa-color-brand-alpha-20: var(--accent-color-accent-alpha-4);
  --wa-color-brand-alpha-10: var(--accent-color-accent-alpha-3);
  --wa-color-brand-alpha-05: var(--accent-color-accent-alpha-2);
  --wa-color-brand-alpha-00: var(--accent-color-accent-alpha-1);
  --wa-color-brand-alpha: var(--accent-color-accent-alpha);
  --wa-color-brand-alpha-on: var(--accent-color-accent-alpha-on);

  --wa-color-danger-95: var(--semantic-colors-error-12);
  --wa-color-danger-90: var(--semantic-colors-error-11);
  --wa-color-danger-80: var(--semantic-colors-error-10);
  --wa-color-danger-70: var(--semantic-colors-error-9);
  --wa-color-danger-60: var(--semantic-colors-error-8);
  --wa-color-danger-50: var(--semantic-colors-error-7);
  --wa-color-danger-40: var(--semantic-colors-error-6);
  --wa-color-danger-30: var(--semantic-colors-error-5);
  --wa-color-danger-20: var(--semantic-colors-error-4);
  --wa-color-danger-10: var(--semantic-colors-error-3);
  --wa-color-danger-05: var(--semantic-colors-error-2);
  --wa-color-danger-00: var(--semantic-colors-error-1);
  --wa-color-danger: var(--semantic-colors-error);
  --wa-color-danger-on: var(--semantic-colors-error-on);
  --wa-color-danger-alpha-95: var(--semantic-colors-error-alpha-12);
  --wa-color-danger-alpha-90: var(--semantic-colors-error-alpha-11);
  --wa-color-danger-alpha-80: var(--semantic-colors-error-alpha-10);
  --wa-color-danger-alpha-70: var(--semantic-colors-error-alpha-9);
  --wa-color-danger-alpha-60: var(--semantic-colors-error-alpha-8);
  --wa-color-danger-alpha-50: var(--semantic-colors-error-alpha-7);
  --wa-color-danger-alpha-40: var(--semantic-colors-error-alpha-6);
  --wa-color-danger-alpha-30: var(--semantic-colors-error-alpha-5);
  --wa-color-danger-alpha-20: var(--semantic-colors-error-alpha-4);
  --wa-color-danger-alpha-10: var(--semantic-colors-error-alpha-3);
  --wa-color-danger-alpha-05: var(--semantic-colors-error-alpha-2);
  --wa-color-danger-alpha-00: var(--semantic-colors-error-alpha-1);
  --wa-color-danger-alpha: var(--semantic-colors-error-alpha);
  --wa-color-danger-alpha-on: var(--semantic-colors-error-alpha-on);

  --wa-color-neutral-95: var(--neutral-color-neutral-12);
  --wa-color-neutral-90: var(--neutral-color-neutral-11);
  --wa-color-neutral-80: var(--neutral-color-neutral-10);
  --wa-color-neutral-70: var(--neutral-color-neutral-9);
  --wa-color-neutral-60: var(--neutral-color-neutral-8);
  --wa-color-neutral-50: var(--neutral-color-neutral-7);
  --wa-color-neutral-40: var(--neutral-color-neutral-6);
  --wa-color-neutral-30: var(--neutral-color-neutral-5);
  --wa-color-neutral-20: var(--neutral-color-neutral-4);
  --wa-color-neutral-10: var(--neutral-color-neutral-3);
  --wa-color-neutral-05: var(--neutral-color-neutral-2);
  --wa-color-neutral-00: var(--neutral-color-neutral-1);
  --wa-color-neutral: var(--neutral-color-neutral);
  --wa-color-neutral-on: var(--neutral-color-neutral-on);
  --wa-color-neutral-alpha-95: var(--neutral-color-neutral-alpha-12);
  --wa-color-neutral-alpha-90: var(--neutral-color-neutral-alpha-11);
  --wa-color-neutral-alpha-80: var(--neutral-color-neutral-alpha-10);
  --wa-color-neutral-alpha-70: var(--neutral-color-neutral-alpha-9);
  --wa-color-neutral-alpha-60: var(--neutral-color-neutral-alpha-8);
  --wa-color-neutral-alpha-50: var(--neutral-color-neutral-alpha-7);
  --wa-color-neutral-alpha-40: var(--neutral-color-neutral-alpha-6);
  --wa-color-neutral-alpha-30: var(--neutral-color-neutral-alpha-5);
  --wa-color-neutral-alpha-20: var(--neutral-color-neutral-alpha-4);
  --wa-color-neutral-alpha-10: var(--neutral-color-neutral-alpha-3);
  --wa-color-neutral-alpha-05: var(--neutral-color-neutral-alpha-2);
  --wa-color-neutral-alpha-00: var(--neutral-color-neutral-alpha-1);
  --wa-color-neutral-alpha: var(--neutral-color-neutral-alpha);
  --wa-color-neutral-alpha-on: var(--neutral-color-neutral-alpha-on);

  --wa-color-success-95: var(--semantic-colors-success-12);
  --wa-color-success-90: var(--semantic-colors-success-11);
  --wa-color-success-80: var(--semantic-colors-success-10);
  --wa-color-success-70: var(--semantic-colors-success-9);
  --wa-color-success-60: var(--semantic-colors-success-8);
  --wa-color-success-50: var(--semantic-colors-success-7);
  --wa-color-success-40: var(--semantic-colors-success-6);
  --wa-color-success-30: var(--semantic-colors-success-5);
  --wa-color-success-20: var(--semantic-colors-success-4);
  --wa-color-success-10: var(--semantic-colors-success-3);
  --wa-color-success-05: var(--semantic-colors-success-2);
  --wa-color-success-00: var(--semantic-colors-success-1);
  --wa-color-success: var(--semantic-colors-success);
  --wa-color-success-on: var(--semantic-colors-success-on);
  --wa-color-success-alpha-95: var(--semantic-colors-success-alpha-12);
  --wa-color-success-alpha-90: var(--semantic-colors-success-alpha-11);
  --wa-color-success-alpha-80: var(--semantic-colors-success-alpha-10);
  --wa-color-success-alpha-70: var(--semantic-colors-success-alpha-9);
  --wa-color-success-alpha-60: var(--semantic-colors-success-alpha-8);
  --wa-color-success-alpha-50: var(--semantic-colors-success-alpha-7);
  --wa-color-success-alpha-40: var(--semantic-colors-success-alpha-6);
  --wa-color-success-alpha-30: var(--semantic-colors-success-alpha-5);
  --wa-color-success-alpha-20: var(--semantic-colors-success-alpha-4);
  --wa-color-success-alpha-10: var(--semantic-colors-success-alpha-3);
  --wa-color-success-alpha-05: var(--semantic-colors-success-alpha-2);
  --wa-color-success-alpha-00: var(--semantic-colors-success-alpha-1);
  --wa-color-success-alpha: var(--semantic-colors-success-alpha);
  --wa-color-success-alpha-on: var(--semantic-colors-success-alpha-on);

  --wa-color-warning-95: var(--semantic-colors-warning-12);
  --wa-color-warning-90: var(--semantic-colors-warning-11);
  --wa-color-warning-80: var(--semantic-colors-warning-10);
  --wa-color-warning-70: var(--semantic-colors-warning-9);
  --wa-color-warning-60: var(--semantic-colors-warning-8);
  --wa-color-warning-50: var(--semantic-colors-warning-7);
  --wa-color-warning-40: var(--semantic-colors-warning-6);
  --wa-color-warning-30: var(--semantic-colors-warning-5);
  --wa-color-warning-20: var(--semantic-colors-warning-4);
  --wa-color-warning-10: var(--semantic-colors-warning-3);
  --wa-color-warning-05: var(--semantic-colors-warning-2);
  --wa-color-warning-00: var(--semantic-colors-warning-1);
  --wa-color-warning: var(--semantic-colors-warning);
  --wa-color-warning-on: var(--semantic-colors-warning-on);
  --wa-color-warning-alpha-95: var(--semantic-colors-warning-alpha-12);
  --wa-color-warning-alpha-90: var(--semantic-colors-warning-alpha-11);
  --wa-color-warning-alpha-80: var(--semantic-colors-warning-alpha-10);
  --wa-color-warning-alpha-70: var(--semantic-colors-warning-alpha-9);
  --wa-color-warning-alpha-60: var(--semantic-colors-warning-alpha-8);
  --wa-color-warning-alpha-50: var(--semantic-colors-warning-alpha-7);
  --wa-color-warning-alpha-40: var(--semantic-colors-warning-alpha-6);
  --wa-color-warning-alpha-30: var(--semantic-colors-warning-alpha-5);
  --wa-color-warning-alpha-20: var(--semantic-colors-warning-alpha-4);
  --wa-color-warning-alpha-10: var(--semantic-colors-warning-alpha-3);
  --wa-color-warning-alpha-05: var(--semantic-colors-warning-alpha-2);
  --wa-color-warning-alpha-00: var(--semantic-colors-warning-alpha-1);
  --wa-color-warning-alpha: var(--semantic-colors-warning-alpha);
  --wa-color-warning-alpha-on: var(--semantic-colors-warning-alpha-on);

  --wa-color-info-95: var(--semantic-colors-info- 12);
  --wa-color-info-90: var(--semantic-colors-info-11);
  --wa-color-info-80: var(--semantic-colors-info-10);
  --wa-color-info-70: var(--semantic-colors-info-9);
  --wa-color-info-60: var(--semantic-colors-info-8);
  --wa-color-info-50: var(--semantic-colors-info-7);
  --wa-color-info-40: var(--semantic-colors-info-6);
  --wa-color-info-30: var(--semantic-colors-info-5);
  --wa-color-info-20: var(--semantic-colors-info-4);
  --wa-color-info-10: var(--semantic-colors-info-3);
  --wa-color-info-05: var(--semantic-colors-info-2);
  --wa-color-info-00: var(--semantic-colors-info-1);
  --wa-color-info: var(--semantic-colors-info);
  --wa-color-info-on: var(--semantic-colors-info-on);
  --wa-color-info-alpha-95: var(--semantic-colors-info-alpha-12);
  --wa-color-info-alpha-90: var(--semantic-colors-info-alpha-11);
  --wa-color-info-alpha-80: var(--semantic-colors-info-alpha-10);
  --wa-color-info-alpha-70: var(--semantic-colors-info-alpha-9);
  --wa-color-info-alpha-60: var(--semantic-colors-info-alpha-8);
  --wa-color-info-alpha-50: var(--semantic-colors-info-alpha-7);
  --wa-color-info-alpha-40: var(--semantic-colors-info-alpha-6);
  --wa-color-info-alpha-30: var(--semantic-colors-info-alpha-5);
  --wa-color-info-alpha-20: var(--semantic-colors-info-alpha-4);
  --wa-color-info-alpha-10: var(--semantic-colors-info-alpha-3);
  --wa-color-info-alpha-05: var(--semantic-colors-info-alpha-2);
  --wa-color-info-alpha-00: var(--semantic-colors-info-alpha-1);
  --wa-color-info-alpha: var(--semantic-colors-info-alpha);
  --wa-color-info-alpha-on: var(--semantic-colors-info-alpha-on);
}
