@layer wa-utilities {
  /* 1rem = 16px (root font size) */
  /* Sizes */
  [size="xsmall"],
  .wa-size-xs {
    font-size: var(--wa-font-size-xs);
    --wa-form-control-padding-inline: 0.66em;
    --wa-form-control-padding-block: 0.33em;
    --wa-form-control-value-line-height: 1.33;

    --wa-form-control-height: round(
      calc(
        2 * var(--wa-form-control-padding-block) + 1em *
          var(--wa-form-control-value-line-height)
      ),
      1px
    );
  }

  [size="small"],
  .wa-size-s {
    --wa-form-control-padding-inline: 0.85em;
    --wa-form-control-padding-block: 0.42em;
    --wa-form-control-value-line-height: 1.42;

    --wa-form-control-height: round(
      calc(
        2 * var(--wa-form-control-padding-block) + 1em *
          var(--wa-form-control-value-line-height)
      ),
      1px
    );
  }

  [size="medium"],
  .wa-size-m {
    --wa-form-control-padding-inline: 1em;
    --wa-form-control-padding-block: 0.5em;
    --wa-form-control-value-line-height: 1.5;

    --wa-form-control-height: round(
      calc(
        2 * var(--wa-form-control-padding-block) + 1em *
          var(--wa-form-control-value-line-height)
      ),
      1px
    );
  }

  [size="large"],
  .wa-size-l {
    --wa-form-control-padding-inline: 1.333em;
    --wa-form-control-padding-block: 0.61em;
    --wa-form-control-value-line-height: 1.44;

    --wa-form-control-height: round(
      calc(
        2 * var(--wa-form-control-padding-block) + 1em *
          var(--wa-form-control-value-line-height)
      ),
      1px
    );
  }
}
