.progressive-profiling-form-bullets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--plugin-spacing-2xl);
}

.progressive-profiling-form-bullets .progressive-profiling-form-bullet {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  transition: background-color 0.2s;
  border: 1px solid var(--wa-color-brand-fill-loud);
  background-color: transparent;
  color: var(--wa-color-brand-on-quiet);
}

.progressive-profiling-form-bullets .progressive-profiling-form-bullet.active {
  font-weight: 700;
  background-color: var(--wa-color-brand-fill-loud);
  color: var(--wa-color-brand-on-loud);
  border-color: var(--wa-color-brand-fill-loud);
}
.progressive-profiling-form-bullets .progressive-profiling-form-bullet.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.progressive-profiling-form-bullets .progressive-profiling-form-bullet:hover {
  background-color: var(--st-color-brand-fill-loud-hover);
  color: var(--wa-color-brand-on-loud);
}

.progressive-profiling-form-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
