.tabDescription {
  background-color: #ffffff;

  .tabDescriptionText {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--neutral-color-neutral-11);
  }
}

.tabChildrenWrapper {
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.tenantTabCard {
  border: 1px solid var(--neutral-color-neutral-6);
}

.tenantTabCard::part(body) {
  padding: 20px;
}

.tenantTabCard::part(header) {
  padding: 20px;
}
