.profile-sections {
  --border-color: var(--wa-color-neutral-40);
  --sidebar-color: var(--wa-color-surface-default);
  --container-color: var(--colors-sand-2);
  --border-radius: var(--wa-border-radius-l);

  border: var(--wa-border-width-s) var(--wa-border-style) var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  min-width: 600px;
  min-height: 400px;
}

.profile-divider {
  border-right: var(--wa-border-width-s) var(--wa-border-style) var(--border-color);
  width: 0px;
}

.profile-sidebar {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background: var(--sidebar-color);
  padding: var(--wa-space-xs);
  min-width: 200px;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-xs);
}

wa-button.profile-sidebar-item::part(base) {
  justify-content: left;
}

.profile-content {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: var(--container-color);
  padding: var(--wa-space-m);
  flex: 1;
}

.profile-content h3 {
  margin-top: 0;
}

.profile-content h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.profile-sidebar-icon {
  height: 20px;
}

.profile-sidebar-icon > * {
  height: 100%;
}
