.profiling-card-bullets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin-bottom: var(--plugin-spacing-2xl);
}

.profiling-card-bullets .profiling-card-bullet {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  transition: background-color 0.2s;
  background-color: white;
  border: 1px solid #07c;
  color: #07c;
}

.profiling-card-bullets .profiling-card-bullet.active {
  font-weight: 700;
  background-color: #07c;
  color: #fff;
}
.profiling-card-bullets .profiling-card-bullet.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.profiling-card-bullets .profiling-card-bullet:hover {
  background-color: #005fa3;
  color: #fff;
}

.profiling-card-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
