.tenantDetailsNoUsers {
  background-color: #0144ff0f;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;

  .text {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #1c2024;
  }
}
